body {
	background-color: #1c1c1c;
	color: #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
}
body,
input,
textarea {
	font-size: 12px;
	font-family: monospace;
}
.main {
	width: 300px;
	padding: 26px;
	border: 1px solid #333;
	border-radius: 10px;
	background-color: #252525;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
input,
textarea {
	padding: 5px;
	background-color: #222;
	border: 1px solid #333;
	border-radius: 3px;
	color: #ccc;
	&:focus {
		color: #fff;
	}
}
.field .content {
	display: flex;
	gap: 10px;
	input,
	textarea {
		flex: 1;
	}
	button {
		padding: 0px;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}
}
.pass button img {
	width: 18px;
	height: 18px;
}
textarea {
	resize: none;
	height: 92px;
}
.buttons {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	select,
	button {
		height: 26px;
		background-color: #234;
		border: 1px solid #345;
		color: #fff;
		border-radius: 5px;
		padding: 0px 8px;
		cursor: pointer;
	}
}
.hidden {
	display: none !important;
}
a {
	color: #9890ca;
}
.err-msg {
	background-color: #413636;
	color: rgb(216, 111, 111);
	padding: 2px 5px;
	border-radius: 2px;
	margin-top: 5px;
}
#qr {
	padding: 10px;
	background-color: #111;
	border-radius: 5px;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	border: 1px solid #444;
	img {
		padding: 10px;
		background-color: #fff;
		border-radius: 5px;
	}
}
