@import url('./colors-dark.css');

body {
	background-color: var(--color-bg-1);
	font-family: monospace;
	color: var(--color-text-1);
}

:root {
	--gap: 10px;
}

.screen {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	padding: var(--gap);
	gap: var(--gap);
}

section {
	height: 100%;
	background-color: var(--color-bg-2);
	border-radius: calc(var(--gap) / 2);
}

section.password-list {
	flex-shrink: 0;
	width: 300px;
}

section.password-list div.title {
	font-size: 24px;
}

section.workspace {
	flex-grow: 1;
}
